* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

body {
    background-color: #F6F4F5;
}

.hide {
    display: none;
}

mark {
    background-color: #E9724F;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

header {
    border-bottom: 3px #E9724F solid;
    padding: 20px 0;
    background-color: #F6F4F5;
}

.promo {
    padding: 65px 0;
}

.logo {
    width: 90%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ul__nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    list-style: none;
}

.a__header {
    font-size: 25px;
    color: #894334;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.a__avt {
    font-size: 17px;
    color: #894334;
    text-decoration: none;
    margin-top: 15px;
}

.promo__slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #894334;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 15px;
}

.promo__descr {
    color: #894334;
    font-size: 30px;
    text-decoration: none;
}

button {
    border-radius: 50px;
    border: none;
    background-color: #E9724F;
    margin: 50px 0 0;
    padding: 15px;
    font-size: 25px;
    color: #F6F4F5;
}

button:hover {
    background-color: #DA403B;
}

.about {
    background-color: #F4E1DC;
    padding: 50px 0;
    border-radius: 75px;
    margin: 100px 0;
}

.questions, .profile {
    margin: 100px 0;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px auto;
}

.prof__sod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #171717;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.blocks__about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block__about__img  {
    width: 210px;
    height: 210px;
    background-color: #B18B78;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block__about__text {
    text-align: center;
    font-size: 20px;
    color: #171717;
}

.block__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 230px;
}

.accordion__item {
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: #F6F4F5;
    font-size: 29px;
    font-weight: 500;
    background-color: rgba(233, 114, 79, 0.5);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 20px;
    content: "";
}

.accordion__item_show .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__header:hover {
    background-color: #B18B78;
}

.accordion__item_hidden .accordion__header {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.accordion__body {
    padding: 30px;
    overflow: hidden;
    background: rgba(233, 114, 79, 0.15);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #E9724F;
    font-size: 25px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

footer {
    background-color: #E9724F;
    padding: 15px 0;
}

.a_link_main {
    color: #F6F4F5; 
    text-decoration: none;
}

.a__footer {
    font-size: 25px;;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    color: #F6F4F5;
}

input {
    border: solid 2px #E9724F;
    border-radius: 10px;
    /* width: 100%; */
    height: 50px;
    background: none;
    margin: 10px 0;
    font-size: 28px;
    color: #E9724F;
    padding: 10px;
}

input::placeholder {
    color: #E9724F;
    font-size: 20px;
    padding-left: 20px;
}

li {
    margin: 0 10px;
}

.h1__ar {
    font-size: 40px;
}

.avt_log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
}

.block-cover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.book__card {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #F2E8D3;
    padding: 40px;
    border-radius: 40px;
    width: 100%;
}

.img__book {
    max-width: 215px;
}

.book__card__info {
    color: #171717;
}

.book__name {    
    font-weight: 500;
    font-size: 27px;
}

.book__loginor  {
    font-size: 19px;
    margin: 20px 0;
}

.plans__slide {
    margin: 50px 0;
}

.book__about {
    font-size: 23px;
}

@media screen and (max-width: 1024px) {

    .container {
        max-width: 960px;
    }

    .a__header, .a__footer {
        font-size: 21px;
    }

    h1 {
        font-size: 55px;
    }

    .block__about__img {
        width: 190px;
        height: 190px;
    }

    .li__contact {
        font-size: 22px;
    }

    .book__about {
        font-size: 21px;
    }
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 700px;
    }

    .a__header, .a__footer {
        font-size: 17px;
    }

    .promo__slide {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .promo__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block__about__img {
        width: 170px;
        height: 170px;
    }

    .title {
        font-style: 37px;
    }
}

@media screen and (max-width: 576px) {
    
    .container {
        max-width: 370px;
    }
    
    .a__header, .a__footer {
        font-size: 15px;
    }

    .title {
        font-style: 34px;
    }

    .logo {
        width: 250px;
    }

    .ul__nav {
        display: none;
    }

    .gif {
        width: 250px;
    }

    h1 {
        font-size: 45px;
    }

    .block__about__img {
        width: 160px;
        height: 160px;
    }

    .blocks__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .title {
        font-size: 35px;
    }

    .li__contact {
        font-size: 18px;
    }

    .book__card {
        flex-direction: column;
    }
}
